.ddCheckBox{
	background:url('../images/background.png') no-repeat right bottom;
	display:inline-block;
	min-width:60px;
	height:33px;
	white-space:nowrap;
	position:relative;
	cursor:pointer;
	margin-left:14px;
}

.ddCheckBox.checked{
	background-position:top left;
	margin:0 14px 0 0;
}

.ddCheckBox .ddCBContent{
	color: #ffffff;
	line-height: 31px;
	padding-right: 38px;
	text-align: right;
}

.ddCheckBox.checked .ddCBContent{
	text-align:left;
	padding:0 0 0 38px;
}

.ddCBPart{
	background:url('../images/background.png') no-repeat left bottom;
	width:14px;
	position:absolute;
	top:0;
	left:-14px;
	height:33px;
	overflow: hidden;
}

.ddCheckBox.checked .ddCBPart{
	background-position:top right;
	left:auto;
	right:-14px;
}
